<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit libero
    corrupti, temporibus dolorum accusamus dolore ducimus. Dolorum dicta ipsa
    quaerat!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="/Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Johnson</h3>
        <p class="quote__organization">Moshify Company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
